#main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0.33) 100%), url(../../img/background.png), lightgray 50% ;
    background-size:cover;
    background-repeat: no-repeat;
    
}
.main{
    display: flex;
    flex-direction: column;
    
    text-align: justify;
    padding-left: 16%;
    padding-top: 14%;
}
.main_title{
    padding-bottom: 2%;
}
.main_menu{
    display: flex;
    border-radius: 5.224px;
background: rgba(243, 243, 243, 0.60);
backdrop-filter: blur(17.760618209838867px);
width: 844px;
height: 102px;
justify-content: center;
align-items: center;
gap: 14%;


}
.main_menu_icon{
    padding-left: 5px;
}
.main_menu::before{
    position: absolute;
    left: 20%;
    content: "";
    display: block;
    width: 3px;
    height: 48px;
    border-radius: 25px;
background: #D0D0D0;
    
}
.main_menu::after{
    position: absolute;
    right: 52%;
    content: "";
    display: block;
    width: 3px;
   
    height: 48px;
    border-radius: 25px;
background: #D0D0D0;
}
.main_menu_btn{
    display: inline-flex;
padding: 16px 57.561px 15.416px 57px;
justify-content: center;
align-items: center;
border-radius: 10px;
background: #DF6951;
box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);

}

.person_card_img{
    display: flex;
}
.person_card{
  
    padding-top: 0.5%;
    display: flex;
    gap: 2%;
    padding-top: 3%;
       
}
.person_card_text{
    padding-top: 5px;
}
.supporter{
    display: flex;
width: 100%;
height: 25VH;
    background: #F7F7F7;
padding: 0px 171.15px 0px 171px;
justify-content: center;
align-items: flex-start;
gap: 12%;
padding-top: 5%;
flex-shrink: 0;
}
.supporter img{
    opacity: 0.44;

}
.person_card_img{
    position: relative;
}
.person_card_item-1::before{
    content: "+";
    color:white;
    position: absolute;
    left: 92.8%;
    top: 42%;
    transform: translate(-50%, -50%);
}




